<h1>Locação de carros</h1>
<%= link_to  'Cadastrar nova locação', new_rental_path %>

<% form_with url: search_rental_path, local: true, method: :get do %>
  <%= label_tag :q, 'Código' %>
  <%= text_field_tag :q %>
  <% submit_tag 'Buscar' %>
<% end %>